<!DOCTYPE html>
<html>
<head>
  <title>Fun</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= login_or_logout %>
<%= dashboard_if_admin %>
<body>
<% flash.each do |type, message| %>
<%= message %>
<% end %>

<%= yield %>

</body>
</html>
